.headerGridComponent {
  height: 100%;
  display: grid;
  grid-template-areas:
    "mainExpensesCost monthlyExpensesCost highestExpenseCost averageExpensesCost"
    "mainExpensesCost timeLineExpensesTracker timeLineExpensesTracker timeLineExpensesTracker";
  grid-template-rows: 120px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-sm);
  & > div {
    background-color: var(--bg);
    border-radius: var(--border-radius-sm);
  }

  .mainExpensesCost {
    grid-area: mainExpensesCost;
  }
  .monthlyExpensesCost {
    grid-area: monthlyExpensesCost;
  }
  .averageExpensesCost {
    grid-area: averageExpensesCost;
  }
  .timeLineExpensesTracker {
    grid-area: timeLineExpensesTracker;
  }
  .highestExpenseCost {
    grid-area: highestExpenseCost;
  }
}
