.expensesTableComponent {
  height: 100%;
  width: 100%;
  gap: var(--spacing-sm);
}

.emptyExpenses {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-sm);
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 1/6;
}

.emptyExpensesMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-tiny);
}
