.expenseMetricCardComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing-sm);
  box-sizing: border-box;
  padding: var(--spacing-sm);
  color: var(--text);
}

.expenseCardLabel {
  span {
    color: var(--text-muted);
  }
}

.expenseCardList {
  display: flex;
  flex-direction: column;
  margin-block: var(--spacing-sm);

  .expenseCardListLabel {
    font-weight: 800;
  }
}

.expense {
  display: flex;
  flex-direction: column;
  .expenseContent {
    display: flex;
    justify-content: space-between;
    padding-block: var(--spacing-sm);
    color: var(--text-muted);
  }
}

.expenseCardDivider {
  height: 1px;
  width: 100%;
  background-color: var(--bg-light-border);
}
