
:root{
    --bg-dark: oklch(0.1 0.07 294);
    --bg: oklch(0.15 0.07 294);
    --bg-light: oklch(0.2 0.07 294);
    --bg-light-border: oklch(33.258% 0.07977 295.79);
    --text: oklch(0.96 0.1 294);
    --text-muted: oklch(0.76 0.1 294);
    --highlight: oklch(0.5 0.14 294);
    --border: oklch(0.4 0.14 294);
    --border-muted: oklch(0.3 0.14 294);

    --primary: oklch(0.76 0.14 294);
    --primary-text: oklch(24.703% 0.15168 278.054);

    --secondary: hsl(66, 46%, 50%);
    --secondary-text: hsl(66, 46%, 15%);
    
    
    --danger: hsl(8, 73%, 66%);
    --danger-text: hsl(8, 73%, 15%);

    --warning: oklch(0.7 0.14 100);
    --warning-text: hsl(52, 76%, 15%);

    
    --success: oklch(0.7 0.14 160);
    --success-text: hsl(154, 53%, 15%);

    --info: hsl(217, 88%, 69%);
    --info-text: hsl(217, 88%, 15%);

    --spacing-tiny: .5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;

    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 2rem;

    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 22px;
}

input{
    background-color: var(--bg-light);
    color: var(--text-color);
    border: none;
    padding:var(--spacing-tiny);
    border-radius: var(--border-radius-sm);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1,h2,h3,h4,h5,h6,a,p,button {
    color:var(--text);
}
button{
    cursor: pointer;
    &:hover{
        filter: brightness(1.25);
    }
}
body {
    background-color: var(--bg-dark);
	line-height: 1;
    padding:var(--spacing-md);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    font-weight: 800;
    font-size: clamp(20px, 3vw, 48px)
}

h3{
    font-weight: 600;
    font-size: clamp(18px, 4vw, 32px) !important;
}
