.homePage {
  padding: var(--spacing-lg) var(--spacing-lg) 0 var(--spacing-lg);
  box-sizing: border-box;
  height: 100vh;
}

.mainGridLayout {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-md);
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-sm);
}

.skeleton{
  margin-block:var(--spacing-lg);
  height: 100vh;
  animation: skeletonPulsing 1s infinite alternate;
  div{
    height: 100%;
  }
}

@keyframes skeletonPulsing{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



