.expenseCardComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--spacing-sm);
  box-sizing: border-box;
  padding: var(--spacing-sm);
  color: var(--text);
}

.expenseCardLabel {
  span {
    color: var(--text-muted);
    font-size: 16px;
  }
}

.expensesList{
  display: flex;
  gap:var(--spacing-sm)
}

.expenseCardDivider{
    height: 1px;
    width: 100%;
    background-color: var(--text-muted);
}
