.expensesGridComponent {
  height: 100%;
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  & > div {
    background-color: var(--bg-light);
    border-radius: var(--border-radius-sm);

  }
}
