.expensesGridComponent {
  height: 100%;
  width: 100%;
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.expenseCard {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-sm);
}

.emptyExpenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 1/6;
}

.emptyExpensesMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-tiny);
}
